<div class="row">
  <div class="col-md-4 col-sm-4">
    <div class="card card-stats">
      <div class="card-header card-header-warning card-header-icon">
      <div class="card-icon">
        <i class="material-icons">commute</i>
      </div>
      <p class="card-category">Mis vehículos</p>
      <h3 class="card-title">1 <small>vehículo</small></h3>
      </div>
      <div class="card-footer">
        <div class="stats align-items-center">
          <a href="#" class="text-info btn btn-outline-info btn-sm">
            <i class="material-icons text-dark mr-2" style="top: 0;">add_circle_outline</i>
            Ver vehículos
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
      <div class="card-icon">
        <i class="material-icons">email</i>
      </div>
      <p class="card-category">Solicitudes enviadas</p>
      <h3 class="card-title">50 <small>solicitudes</small></h3>
      </div>
      <div class="card-footer">
        <div class="stats align-items-center">
          <a href="#" class="text-info btn btn-outline-info btn-sm">
            <i class="material-icons text-dark mr-2" style="top: 0;">fact_check</i>
            Ver solicitudes
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-4">
    <div class="card card-stats">
      <div class="card-header card-header-primary card-header-icon">
      <div class="card-icon">
        <i class="material-icons">store</i>
      </div>
      <p class="card-category">Solicitudes atendidas</p>
      <h3 class="card-title">45 <small>solicitudes</small></h3>
      </div>
      <div class="card-footer">
        <div class="stats align-items-center">
          <a href="#" class="text-info btn btn-outline-info btn-sm">
            <i class="material-icons text-dark mr-2" style="top: 0;">summarize</i>
            Enviar recordatorio
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col">
    <a href="#" class="btn btn-outline-primary btn-lg btn-block">
      <i class="material-icons text-dark mr-3" style="top: 0;">flare</i>
      Enviar solicitud
    </a>
    <a href="#" class="btn btn-outline-success btn-lg btn-block">
      <i class="material-icons text-dark mr-3" style="top: 0;">electric_car</i>
      Agregar vehículo
    </a>
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
<br>
<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
    <div class="col">
      Publicidad Aqúi
    </div>
  <div class="col-md-1 col-sm-1"></div>
</div>