<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col">
    <h1>
      <%= link_to dashboard_shop_path, class:"btn btn-outline-dark btn-lg back-dashboard-button" do %>
        <i class="material-icons text-dark" style="top: 0;">arrow_back_ios_new</i>
      <% end %>
      Editar Local
    </h1>
    <%= render 'form', shop: @shop %>
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
    <div class="col">
      <%= render 'home/ad_example' %>
    </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
