<% x = (1..2).to_a %>

<% case x.sample %>
  <% when 1 %>
    <div>
      <a target="_blank" href="https://www.ambacar.ec/test-drive?marca_testdrive=2&amp;modelo_testdrive=40610">
        <img style="width:100%" title="Camioneta Ambacar Great Wall POER" src="https://www.ambacar.ec/wp-content/uploads/2019/11/ambacar-great-wall-wingle7-test-drive.gif" alt="Camioneta Ambacar Great Wall POER" >
      </a>
    </div>
  <% when 2 %>
    <div>
      <a target="_blank" href="https://mansueraecosistema.com/">
        <img style="width:100%" src="https://www.mansuera.com/bundles/app/images/necesitas_un_taller_web.jpg?v20210614">
      </a>  
    </div>
<%end %>
