  <header class="site-header">
    <div class="container">
      <div class="site-header-inner">
        <div class="brand header-brand">
          <h1 class="m-0">
            <a href="<%= root_path %>">
              <%= image_tag "quien_tiene_logo_b.png", width: "250" %>
            </a>
          </h1>
        </div>
      </div>
    </div>
  </header>