  <header class="site-header">
    <div class="container">
      <div class="site-header-inner">
        <div class="brand header-brand">
          <a href="<%= root_path %>" class="btn btn-outline">
            <%= image_tag "quien_tiene_logo_b.png", width: "250", alt: "Logotipo de QuienTiene.com" %>
          </a>
        </div>
      </div>
    </div>
  </header>