<h1>Editing Replacement Proposal</h1>

<%= render 'form', replacement_proposal: @replacement_proposal %>

<%= link_to 'Show', @replacement_proposal %> |
<%= link_to 'Back', replacement_proposals_path %>
